</div>
<script>
   
    CKEDITOR.replace( 'content');
function send(){swal({
  title: "",
  text: "پیام شما با موفقیت ثبت گردید",
  icon: "success",
  button: "باشه",
});}





    
    
</script>
</body>
</html>