<%- include("../_partial/_header") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about us</title>
    <link rel="stylesheet" href="\css\about.css">
</head>
<body>
    <div class="all">
        <h3>تاریخچه شرکت بیمه آسیا:</h3>
        <p>شـركت سهامی بيمه‌آسيا در تيرماه سال 1338 به منظور انجام انواع معاملات بيمه و عمليات بازرگانی تأسيس شد. در سال 1388 بر اساس سياست‌های كلی اصل 44 قانون اساسی در زمره شركت‌های مشمول واگذاری به بخش خصوصی قرار گرفت و بدين ترتيب به عنوان بزرگ‌ترين شـرکت بيمه خصوصی كشور به فعالیت های خود ادامه می دهد. اين شـركت رتبه اول تولید و سهم بازار را در میان شـرکت های بیمه خصوصی کشور دارا می باشد. 
            بيمه آسيا با 2600 نفر نیروی انسانی متخصص، باتجربه ومتعهد با سرمايه ای بیش از  24 هزار میلیارد ريال و با بیش از شش دهه فعـاليت درعرصه صنعت بيمه، برای ششمین سال متوالی رتبه يك (سطح 1) از نظر سطح توانگری مالی را در بين شركت های بيمه کسب نموده و دومين شركت بيمه در نگهداری ريسك و قبول اتکایی در كشور محسوب می گردد.</p>
        <div  class="mage"><img src="img\tarikhi.jpg" alt=""></div>        
        <p>شركت بيمه آسيا در حال حاضر با بیش از 99 شعبه و اداره پرداخت خسارت و  10 سرپرستی و بیش از3922 نماينده حقيقی و حقوقی جنرال و حدود 1700 نماینده  بیمه عمر  فعال، در اقصی نقاط كشور مشغول خدمت رسانی به ملت شريف ايران می باشد.</p>
        <a href="/"><button> بازگشت</button></a>
    </div>
    <div class="fot">
        <div class="fotext">
            
            <p><i class="fas fa-map-marker-alt"></i> آدرس : خیابان طالقانی بین سپهبد قرنی و استاد نجات اللهی شماره 310</p>
            <p><i class="fas fa-mail-bulk"></i>
                صندوق پستی: 1885-15815</p>
            <p><i class="fas fa-phone"></i>تلفن:8707-021</p>
            <p><i class="fas fa-envelope"></i>پست الکترونیکی : info@asiainsurance.ir</p>
        </div>
        <div class="map">
            <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6479.5570128020345!2d51.41198258427798!3d35.707067823999196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e0170feb98c85%3A0x3e3cac9b3f365c7d!2sAsia%20Insurance!5e0!3m2!1sen!2sfr!4v1634544813134!5m2!1sen!2sfr" width="300" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe></p>
        </div>
    </div>
    
</body>
</html>
<%- include("../_partial/_footer") %>