<%- include("../_partial/_header") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.0/css/all.min.css" integrity="sha512-UJqci0ZyYcQ0AOJkcIkUCxLS2L6eNcOr7ZiypuInvEhO9uqIDi349MEFrqBzoy1QlfcjfURHl+WTMjEdWcv67A==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/FAQ.css">
    <title>FAQ</title>
</head>
<body>
    <img class="Faqimg" src="/img/undraw_faq_re_31cw.svg" width="100%" height="200px">
    <div class="container-fluid">
         
        <h2>سوالات متداول (FAQ)</h2>
        <div class="question">
            <div class="accordion">
                <div class="icon"><i class="fas fa-plus"></i></i></div>
                <h5>اگر بیمه‌نامه شخص ثالث گم شود چه کارهایی باید انجام داد؟</h5>
    
            </div>
            <div class="panel">
                <p>در صورت مفقودی بیمه‌نامه شخص ثالث، باید با در دست داشتن کارت خودرو و کارت شناسایی به نمایندگی صادرکننده بیمه مراجعه کرد. پس از انجام پروسه‌ی اعلام مفقودی برای فرد یک گواهی صادر خواهد شد که ارزش قانونی آن به اندازه اصل بیمه‌نامه است.</p>
            </div>
        </div>


        <div class="accordion">
            <div class="icon"><i class="fas fa-plus"></i></div>
            <h5>چگونه می‌توان از صحت بیمه‌نامه خودرو مطمئن شد؟</h5>

        </div>
        <div class="panel">
            <p>برای بررسی صحت و اصالت بیمه‌نامه خودرو، می‌توانید با مراجعه به صفحه bime.com/sanhabInquiry و وارد کردن شماره بیمه‌نامه، کد یکتا، کد VIN (شماره ۱۷ رقمیِ شناسایی خودرو) و کد ملی خود از صحت آن اطمینان حاصل نمایید. همچنین امکان بررسی اصالت بیمه‌نامه از طریق ارسال پیامک وجود دارد.</p>
        </div>

        <div class="accordion">
            <div class="icon">
                <i class="fas fa-plus"></i>
            </div>
            <h5>آیا می‌توان بیمه شخص ثالث را اقساطی تهیه کرد؟</h5>

        </div>
        <div class="panel">
            <p>در بیمه امکان خرید بیمه شخص ثالث قسطی وجود دارد. فقط کافی است ‌هنگام خرید بیمه در مرحله ثبت سفارش تعداد اقساطی که شرکت بیمه در نظر گرفته است و مقدار هر قسط را انتخاب کنید</p>
        </div>


        <div class="accordion">
            <div class="icon"><i class="fas fa-plus"></i></div>
            <h5>بخشش جریمه دیرکرد بیمه شخص ثالث چه زمانی انجام می‌پذیرد؟</h5>

        </div>
        <div class="panel">
            <p>جریمه دیرکرد بیمه شخص ثالث زمانی اتفاق می‌افتد که دارنده‌ وسیله نقلیه به دلایل متعدد مانند مشکلات مالی، فراموش کردن تاریخ اتمام اعتبار بیمه‌نامه، عدم دسترسی به دفتر بیمه یا به هر دلیل دیگری بیمه‌نامه خود را تمدید نکرده باشد، که در این شرایط دیرکرد به ‌صورت روزانه محاسبه و به هزینه بیمه شخص ثالث وی اضافه خواهد شد. در بعضی مواقع بخشش جریمه دیرکرد از سوی بیمه مرکزی اتفاق می‌افتد که البته از قاعده خاصی پیروی نمی‌کند. این بخشش عموماً در بهمن ماه هر سال اعمال می‌شود.</p>
        </div>


        <div class="accordion">
            <div class="icon"><i class="fas fa-plus"></i></div>
            <h5>چند روز پیش از تمام شدن اعتبار بیمه‌نامه باید برای تمدید آن اقدام کرد؟</h5>

        </div>
        <div class="panel">
            <p>بهترین زمان برای تمدید بیمه‌نامه شخص ثالث، ۱۰ روز پیش از اتمام تاریخ اعتبار بیمه‌نامه است. هر زمانی از روز که بیمه‌نامه شخص ثالث خودرو تمدید شود، اعتبار آن از بامداد روز آتی آغاز خواهد شد.</p>
        </div>

        <div class="accordion">
            <div class="icon"><i class="fas fa-plus"></i></div>
            <h5>شرایط انتقال تخفیف بیمه شخص ثالث چیست؟</h5>

        </div>
        <div class="panel">
            <p>تخفیف بیمه‌‌ شخص ثالث در حال حاضر به شخص تعلق دارد نه به خودرو و بیمه گذار می تواند قبل از فروش خودرو با اخذ الحاقیه حفظ تخفیفات،تخفیفات بیمه نامه را به اتومبیل دیگر انتقال دهد.</p>
        </div>



        <div class="accordion">
            <div class="icon"><i class="fas fa-plus"></i></div>
            <h5>آیا تغییر شرکت بیمه امکان‌پذیر است؟ قوانین و مقررات آن به چه صورت است؟</h5>

        </div>
        <div class="panel">
            <p>بله، برای تمدید بیمه‌نامه شما می‌توانید به هر یک از شرکت‌های بیمه‌ای مورد نظر خود مراجعه کنید و در خواست تمدید بیمه‌نامه نمایید. همچنین تخفیفات بیمه شخص ثالث خودرو شما نیز حفظ خواهد شد. توجه داشته باشید که با تغییر شرکت بیمه تخفیف‌ها نیز منتقل می‌شوند.</p>
        </div>
        <a  href="javascript:history.back()"><h3> بازگشت<i class="fas fa-chevron-right"></i></h3></a>
    
    
    
    
    </div>


    

    <script src="/javascript/FAQ.js">

    </script>
</body>
</html>
<%- include("../_partial/_footer") %>