<%- include("../_partial/_header") %>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>glory gallery</title>
    <link rel="stylesheet" href="/css/glorygallery.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.0/css/all.min.css" integrity="sha512-UJqci0ZyYcQ0AOJkcIkUCxLS2L6eNcOr7ZiypuInvEhO9uqIDi349MEFrqBzoy1QlfcjfURHl+WTMjEdWcv67A==" crossorigin="anonymous" />
  </head>
  <body>
    <div>
      <div class="dgift">
        <div class="h2a">
          <h2 class="">افتخارات بیمه آسیا</h2>
          <a href="/" class="backbtn">بازگشت<i class="fas fa-chevron-right"></i></a>
        </div>
        <img class="winimg" src="img/undraw_winners_ao-2-o.svg"  >
        <div>
          <div class="gallery">
              <img
                src="img/1.jpg"
                
              />
            <div class="desc">همایش ملی بزرگان رضایت مندی مشتری</div>
          </div>
  
          <div class="gallery">
              <img
                src="img/2.jpg"
               
              />
            <div class="desc">تندیس بین المللی کیفیت ده شرکت برتر</div>
          </div>
  
          <div class="gallery">
              <img
                src="img/3.jpg"
               
              />
            <div class="desc">تندیس رعایت حقوق مصرف کنندگان سال 1392</div>
          </div>
          <div>
            <div class="gallery">
                <img
                  src="img/4.jpg"
                 
                />
              <div class="desc">گواهینامه رعایت حقوق مصرف کنندگان سال 1391</div>
            </div>
            <div class="gallery">
                <img
                  src="img/5.jpg"
                  
                />
              <div class="desc">گواهینامه رعایت حقوق مصرف کنندگان سال 1390</div>
            </div>
            <div class="gallery">
                <img
                  src="img/6.jpg"
                  
                />
              <div class="desc">
                رتبه 70 بیمه آسیا بین صد شرکت برتر ایران در سال مالی 1391
              </div>
            </div>
            <div class="gallery">
                <img
                  src="img/7.jpg"
                  
                />
              <div class="desc">
                غرفه برتر بیمه آسیا در ششمین نمایشگاه بین المللی بورس، بانک و بیمه
              </div>
            </div>
            <div class="gallery">
                <img
                  src="img/8.jpg"
                  
                />
              <div class="desc">
                رتبه 60 بیمه آسیا بین صد شرکت برتر ایران در سال مالی 1389
              </div>
            </div>
            <div class="gallery">
                <img
                  src="img/9.jpg"
                  
                />
              <div class="desc">
                دارنده گواهینامه مدیریت کیفیت ISO 9001:2008 از سال 86
              </div>
            </div>
        </div>
          <div class="clr"></div>
        </div>
      </div>
    </div>
  </body>
</html>
<%- include("../_partial/_footer") %>
