<%- include("../_partial/_header") %>
    
<div ><img class="img" src="img/image4.jpg" alt=""></div>
<a name="go"></a>




<div id="text1">همین الان خودتو بیمه کن </div>
<div class="container">
    <div class="grid">
        <article>
            <img src="img/car.jpg" alt="">
            <div class="text">
                <h3> بیمه بدنه</h3>
                <a href="#"><button>خرید</button></a>
            </div>
        </article>

        <article>
            <img src="img/accident.jpg" alt="">
            <div class="text">
                <h3> بیمه ثالث</h3>
               <a href="/cars/add"> <button>خرید</button></a>
            </div>
        </article>
        

        <article>
            <img src="img/covid.jpg" alt="">
            <div class="text">
                <h3>بیمه سلامت </h3>
               <a href="#"> <button>خرید</button></a>
            </div>
        </article>

    </div>
</div>
<div class="videoplayer"><video  src="/video/InShot_20211017_143148771.mp4" autoplay loop ></video></div>
<div class="clr"></div>
<div class="girw">
   <div class="whayt">
       <h4>چرا بیمه آسیا؟</h4>
       <div class="d1">بیمه آسیا قدیمی ترین و با تجریه ترین بیمه  ایران است که توانسته است رضایت کامل مشتریانش را بدست بیاورد و به همین دلیل توانسته است چندین لوح تقدیر را در این زمینه به دست آورد</div>
        <div class="d2"> برای دیدن تمامی افتخارات کسب شده توسط بیمه آسیا </div><a href="/glorygallery"><button>کلیک کنید</button></a>
    </div>
   <div class="whaym"> 
    <img class="mySlides" src="img/تندیس بین المللی کیفیت ده شرکت برتر.jpg" >
    <img class="mySlides" src="img/تندیس رعایت حقوق مصرف کنندگان سال 1392.jpg" >
    <img class="mySlides" src="img/همایش ملی بزرگان رضایت مندی مشتری.jpg" >
   </div>
   <script>
    var myIndex = 0;
    carousel();
    
    function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
      }
      myIndex++;
      if (myIndex > x.length) {myIndex = 1}    
      x[myIndex-1].style.display = "block";  
      setTimeout(carousel, 4000);    
    }
    </script>
</div>
<div class="wus"><h3>چرا خرید از سایت ما ؟</h3> </div>
<div class="gridus">
    <div class="wus1">
        
       
        <div class="tyu1">
        <img src="icon/supp.png" alt="">
        <div >  پشتبانی 24 ساعته</div>
       
        </div>
    </div>
    <div class="wus2">
        
        <div class="tyu2">
            <img src="icon/time.png" alt="">
            <div>تحویل سریع بیمه نامه</div>
        </div>
    </div>
    <div class="wus3">
       
        <div class="tyu3">
            <img src="icon/lock.png" alt="">
            <div> محیط ایمن برای خرید بیمه</div>
           
        </div>
    </div>

    <div class="wus4">
       
        <div class="tyu4">
            <img  src="icon/moneyyy.png" alt="">
            <div> تضیمن بهترین قیمت</div>
           
        </div>
    </div>
</div>
<div>
    <div class="appt"> <h4> ------- اپلیکیشن بیمه آسیا ------</h4></div>
    <div class="appa girp" >
        <div class="appr"> 
            <div class="appr1">با اپ بیمه آسیا، بیمه در جیب شماست</div>
            <div class="appr2">با نصب اپلیکیشن بیمه‌ آسیا، در هر زمان و مکان به بیمه‌نامه‌ی دیجیتال خود دسترسی داشته باشید</div>
            <div class="appim">
                <div><img src="img/gg.png" alt=""></div>
                <div><img src="img/mm.png" alt=""></div>
                <div><img src="img/bb.png" alt=""></div>
            </div>
        </div>
        <div class="appl">
            <img src="/img/undraw_home_screen_4n7s.svg"  width="300px" height="300px">
        </div>
    </div>
</div>
<a name="goc"></a>
<footer class="gridfoo">
    <div class="info"> 
        <div class="info1">
           
        <span> 7 روز هفته و در 24 ساعت شبانه روز پاسخگوی شما هستیم.</span>   
        </div>
        <div class="info2">
            <span class="freeicon icon-lifebuoy"></span>
            <span>پشتیبانی :37289996 - 051 و 09338450199</span>
        </div>
        <div class="info3">
            <span class="freeicon icon-mail"></span>
            ایمیل : info@asiainsurance.ir</div>
        <div class="info3">
            <span ><i class="loc fas fa-map-marker-alt"></i></span>
            آدرس : مشهد خیابان پاسداران،مقابل پاسداران2،مجتمع تجاری هتل خورشید تابان</div>
    </div>
    <div class="fq">
        <div class="fq1"><a href="/FAQ">
            <span class="freeicon icon-chat"></span>
            سوالات متداول</a></div>
        <div class="fq2"><a href="/posts/add">
            <span class="freeicon   icon-user"></span>
            ارسال پیام (فنی، فروش)</a></div>
        <div class="fq3"><a href="/glorygallery">
            <span class="freeicon  icon-star"></span>
            افتخارات بیمه آسیا</a></div>
    </div>
</footer>
    
</body>

    <%- include("../_partial/_footer") %> 