<%- include("../_partial/_header") %>
    <div class="form-area">
        <div class="container1">
            <form action="/signup" method="POST">
                <div class="row">
                    <div class="col-25">
                        <label for="Username">User Name</label>
                    </div>
                    <div class="col-75">
                        <input type="text" id="Username" name="username" placeholder="Your name..">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="Email">Email</label>
                    </div>
                    <div class="col-75">
                        <input type="email" id="Email" name="email" placeholder="Your Email Address..">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="Password">Password</label>
                    </div>
                    <div class="col-75">
                        <input type="password" id="Password" name="password" placeholder="Enter Your Password..">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="RePassword">Repassword</label>
                    </div>
                    <div class="col-75">
                        <input type="password" id="RePassword" name="repassword" placeholder="Enter Your Password Again">
                    </div>
                </div>

                <div class="row">
                    <input type="submit" value="عضویت">
                </div>
            </form>
        </div>

    </div>

    <%- include("../_partial/_footer") %>